<div ng-controller="AddParticipantsToEventController">
  <h3>Event status</h3>
  <table class="event-status-table table table-striped table-bordered">
    <tr>
      <th>Role</th>
      <th># Registered</th>
      <th># Still Needed</th>
    </tr> 
    <tr ng-repeat="(roleName, numberNeededInRole) in event.roles">
      <td>{{roleName}}</td>
      <td>{{personEventRoles[roleName] || 0}}</td>
      <td>{{numberNeededInRole - (personEventRoles[roleName] || 0)}}</td>
    </tr>
  </table>

  <person-by-partial-name selected-person="selectedPerson">
  </person-by-partial-name>
  
  <div class="next-btn" ng-show="selectedPerson">
    <div ng-repeat="role in getPossibleRolesForSelectedPerson()">
      <button class="btn btn-primary"
              ng-click="registerPerson(role.key)">
        Register person as {{role.roleType}}
      </button>
    </div>
  </div>
  
  <div class="text-error" ng-show="registrationError">
    {{registrationError}}
  </div>
</div>


