<div class="container">
  <style type="text/css">
    .event_status_table {
       width: 90%;
     }
  </style>
  <h2>{{event.eventTitle}}</h2>
  <a ng-href="#/event/{{event.key}}/edit">Edit</a>
  <h3>Event status</h3>
  <table class="event-status-table table table-striped table-bordered">
    <tr>
      <th>Role</th>
      <th># Registered</th>
      <th># Still Needed</th>
    </tr> 
    <tr ng-repeat="(role, count) in eventRoles">
      <td>{{role}}</td>
      <td>{{personEventRoles[role] || 0}}</td>
      <td>{{count - (personEventRoles[role] || 0)}}</td>
    </tr>
  </table>

  <personByPartialName selectedPerson="selectedPerson">
  </personByPartialName>

  <div class="next-btn" ng-show="selectedPerson">
    <div ng-repeat="role in getPossibleRolesForSelectedPerson()">
      <button class="btn btn-primary"
              ng-click="registerPerson(role.key)">
        Register person as {{role.roleType}}
      </button>
    </div>
  </div>
  
  <div class="text-error" ng-show="registrationError">
    {{registrationError}}
  </div>
</div>

