<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Libraries (same for all pages)-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
          rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
    <script src="../js/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    
    <!-- Code for this page -->
    <script src="../js/person.js" type="text/javascript"></script>
    <script src="../js/default_configs.js" type="text/javascript"></script>
    <script src="../js/svbe.js" type="text/javascript"></script>
    <script src="../js/person_controller.js" type="text/javascript"></script>
    <meta charset="utf-8">
    
    <title>Create a new One-Of-Us Person</title>
  </head>
  <body ng-app="SVBE">
    <div ng-controller="PersonController">
      <h3>Create a new One-Of-Us Person</h3>
      <form ng-submit="create()" role="form" class="form-horizontal">
        <div class="control-group">
          <label for="person-fullName" class="control-label">Name</label>
          <div class="controls">
            <input ng-model="person.fullName" required="" 
                   type="text" name="Name" id="person-name" class="form-control">
          </div>
        </div>
        
        <div class="control-group">
          <label for="person-address" class="control-label">Address</label>
          <div class="controls">
            <input ng-model="person.address" type="text" name="address"
                   id="person-address" class="form-control">
          </div>
        </div>
        <div class="control-group">
          <label for="person-birthday" class="control-label">Birthday</label>
          <div class="controls">
            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="person.birthday"
                   open="datePickerOpened" max="maxBirthday"
                   ng-required="true" datepicker-options="dateOptions"
                   id="person-birthday"/>
            <button type="button" class="btn" ng-click="openDatePicker()">
              <i class="icon-calendar"></i>
            </button>
          </div>
        </div>
        
        
        <div class="control-group">
          <div class="controls">
            <select ng-model="person.role" 
                    ng-options="p for p in possibleRoles">
            </select>
          </div>
        </div>
        <div class="control-group">
          <label for="person-email" class="control-label">Email</label>
          <div class="controls">
            <input ng-model="person.email" required="" type="email" name="Email"
                   id="person-email" class="form-control">
          </div>
        </div>
  
        <div class="control-group">
          <label for="person-phoneNumber"
                 class="control-label">Phone number</label>
          <div class="controls">
            <input ng-model="person.phoneNumber" type="tel" required=""
                   name="PhoneNumber" id="person-phoneNumber" class="form-control">
          </div>
        </div>

        <div class="control-group">
          <label for="person-mobileNumber" class="control-label">Mobile number</label>
          <div class="controls">
            <input ng-model="person.mobileNumber" type="tel" required=""
                   name="MobileNumber" id="person-mobileNumber" class="form-control">
          </div>
        </div>
       
        <div>{{person | json}}</div>
        <div>{{personRole | json}}</div>
        <div>{{possibleRoles | json}}</div>
        <button>Create new OneOfUs person</button>
      </form>
      <button ng-click="populateWithFakeData()">
          Populate with testing data
      </button>
    </div>
  </body>
</html>
