<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<script src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="../js/main.js"></script>
<meta charset=utf-8 />
</head>
<body ng-app="SVBE">
  <div ng-controller="PersonCreate">
    <form ng-submit="create()" name="PersonCreate">
      <input ng-model="person.name" required type="text" name="Name"/><br/>
      <input ng-model="person.birthdayYear" required type="number" min="1900" max="{{ currentYear }}" name="BirthdayYear"/><br/>
			<input ng-model="person.birthdayMonth" required type="number" min="1" max="12" name="BirthdayMonth"/><br/>
			<input ng-model="person.birthdayDay" required type="number" min="1" max="31" name="BirthdayDay"/><br/>
      <input ng-model="person.email" required type="email" name="Email"/><br/>
			<input ng-model="person.mobileNumber" type="number" min="1000000000" name="MobileNumber"/><br/>
      <button>Create new Person</button>
    </form>
  </div>
</body>
</html>
