<h3>{{ person.key && 'Edit' || 'Create' }} participant</h3>
<form ng-submit="save()" role="form" class="form-horizontal">
  <div class="control-group">
    <label for="person-fullName" class="control-label">Name</label>
    <div class="controls">
      <input ng-model="person.fullName" required="" 
             type="text" name="Name" id="person-name" class="form-control">
    </div>
  </div>
  
  <div class="control-group">
    <label for="person-address" class="control-label">Address</label>
    <div class="controls">
      <input ng-model="person.address" type="text" name="address"
             id="person-address" class="form-control">
    </div>
  </div>
  <div class="control-group">
    <label for="person-birthday" class="control-label">Birthday</label>
    <div class="controls">
      <input type="text" datepicker-popup="dd-MMMM-yyyy"
             ng-model="person.birthday"
             open="datePickerOpened" max="maxBirthday"
             ng-required="true" datepicker-options="dateOptions"
             id="person-birthday"/>
      <button type="button" class="btn" ng-click="openDatePicker()">
        <i class="icon-calendar"></i>
      </button>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Roles</label>
    <div class="controls">
      <span ng-repeat="role in possibleRoles">
        <span ng-class="getRoleClass(role)" style="margin: 3px 3px" 
              ng-click="toggleRole(role)">
              {{role}}
        </span>
      </span>
    </div>
  </div>
  <div class="control-group">
    <label for="person-email" class="control-label">Email</label>
    <div class="controls">
      <input ng-model="person.email" required 
             type="email" name="Email"
             id="person-email" class="form-control">
    </div>
  </div>

  <div class="control-group">
    <label for="person-phoneNumber"
           class="control-label">Phone number</label>
    <div class="controls">
      <input ng-model="person.phoneNumber" type="tel" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" required
             name="PhoneNumber" id="person-phoneNumber" class="form-control">
    </div>
  </div>

  <div class="control-group">
    <label for="person-mobileNumber" class="control-label">Mobile number</label>
    <div class="controls">
      <input ng-model="person.mobileNumber" type="tel" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" required
             name="MobileNumber" id="person-mobileNumber"
             class="form-control">
    </div>
  </div>
  <div class="text-error" ng-show="errorMessage">
    {{errorMessage}}
  </div>
  <button>Save</button>
  <button type="button" ng-click="remove()" ng-show="person.key">Delete</button>
</form>
<div>{{person}}</div>
<button ng-click="populateWithFakeData()">
    Populate with testing data
</button>

