<div>
  <form class="form-search" ng-submit="getPeopleByPartialName()">
    <div class="control-group">
      <label for="person-name" class="label">Name</label>
      <input type="text" id="person-name" ng-model="personSearchName"
             class="input-medium search-query"/>
      <button class="btn">Search</button>
    </div>
  </form>

  <div class="btn-group">
    <div ng-repeat="(key, person) in possiblePeople">
      <button type="button" class="btn" btn-radio="key" 
              ng-model="$parent.selectedPersonKey">
        {{person.fullName}} - {{person.email}}
      </button>
    </div>
  </div> <!-- btn-group -->
</div>
